articles/Deep_sequence_models_tend_to_memorize_geometrically_it_is_unclear_why_Noroozizadeh_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Are_language_models_aware_of_the_road_not_taken_Token-level_uncertainty_and_hidden_state_dynamics_Zur_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Continuous_AutoRegressive_Language_Models_Shao_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Forking_Paths_in_Neural_Text_Generation_Bigelow_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/manifolds/lee_riemman_manifolds.pdf filter=lfs diff=lfs merge=lfs -text
articles/manifolds/lee_smooth_manifolds.pdf filter=lfs diff=lfs merge=lfs -text
articles/renormalization_group/bauerschmidt_brydges_slade_book.pdf filter=lfs diff=lfs merge=lfs -text
articles/renormalization_group/Introduction_to_Renormalisation_Melo_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/algerba_of_thoughts/Transformers_Provably_Learn_Chain-of-Thought_Reasoning_with_Length_Generalization_Huang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/geometric_deep_learning/Geometric_Deep_Learning_Grids_Groups_Graphs_Geodesics_and_Gauges_Bronstein_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/geometric_deep_learning/Mathematical_Foundations_of_Geometric_Deep_Learning_Borde_2025.pdf filter=lfs diff=lfs merge=lfs -text
